# Global environment variables
HOSTNAME=example.com

ADMIN_NAME: First User
ADMIN_EMAIL: example@mail.com
ADMIN_PASSWORD: changeme

# Postgres
DB_USERNAME=username
DB_PASSWORD=password

# SendGrid
SENDGRID_USERNAME=username
SENDGRID_PASSWORD=password

SECRET_KEY_BASE=very_long_hash
