.row
  .small-12.medium-6.large-6.medium-centered.columns
    %h1.text-center= t(:comfort_new)

= render 'form'
.row
  .small-12.medium-6.large-6.medium-centered.columns
    = link_to t(:back), comforts_path
