.row
  .small-12.medium-6.large-6.medium-centered.columns
    %h1.text-center= t(:estate_new)

= render 'form'
.row
  .small-12.medium-6.large-6.medium-centered.columns
    = link_to 'Back', estates_path
